/* Import font */
@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/ttf/Vazirmatn-Regular.ttf') format('truetype'),
       url('./assets/fonts/ttf/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('./assets/fonts/ttf/Vazirmatn-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Apply font globally */
html, body {
  font-family: 'Vazirmatn', sans-serif !important;
  direction: rtl;
  text-align: right;
}

/* Ensure font is applied to all common elements */
body, h1, h2, h3, p, span, a, li, div, input, textarea, select, button {
  font-family: 'Vazirmatn', sans-serif !important;
}

/* Heading adjustments */
h1, h2, h3 {
  padding-right: 1rem;
  margin: 0;
}

/* Price styling */
.price, .card-text.price {
  text-align: right !important;
  direction: rtl !important;
  display: inline-block;
}

/* Carousel styling */
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
  flex-direction: row-reverse; /* Adjust for RTL */
}

.carousel-caption {
  position: absolute;
  top: 0;
  text-align: right;
}

.carousel-caption h4 {
  font-family: 'Vazirmatn', sans-serif;
  color: #fff;
}

.carousel img {
  display: block;
  height: 300px;
  padding: 30px;
  margin: 40px auto;
  border-radius: 50%;
}

/* Responsive font size for carousel */
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

/* Table alignment for RTL */
table, th, td {
  direction: rtl;
  text-align: right;
  padding-right: 1rem;
}

/* Button adjustments */
button {
  text-align: center;
  display: inline-block;
  padding-right: 1rem;
}

/* Specific alignment for order-related details */
.order-total, .order-payment, .order-status {
  text-align: right;
}
